<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbHDf2sydxT5Rj3PD5peQ57Qgq-SBfGqA</string>
	<key>GCM_SENDER_ID</key>
	<string>1089368403310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-chat-ee133</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-chat-ee133.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089368403310:ios:a14ebe6671f932748e657f</string>
</dict>
</plist>